{% extends 'base.html' %} {% load static %} 
    

{% block body %}

{% for message in messages %}
  {% if message.tags == 'alert-success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
  {% if message.tags == 'alert-danger' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %} 
{% endfor %}

<div class="p-2 d-flex flex-column align-items-center">
  <h1 class="py-4">Edit Profile</h1>
  <form class="d-flex flex-column gap-4 w-50" action="{% url 'edit_profile' %}" method="POST">
    {% csrf_token %}
    <div class="d-flex flex-column gap-3">
      <div class="form-floating">
        <input type="text" style="background-color:#e19c8d; color:white" class="form-control" id="nama" name="nama" placeholder=" " value="{{ employee.nama }}" disabled/>
        <label for="nama">Nama</label>
      </div>
      <div class="form-floating">
        <input type="text" style="background-color:#e19c8d; color:white" class="form-control" id="username" name="username" placeholder=" " value="{{ employee.user.username }}" disabled/>
        <label for="username">Username</label>
      </div>
      <div class="form-floating">
        <input type="text" style="background-color:#e19c8d; color:white" class="form-control" placeholder=" " 
        {% if employee.role == '0' %} value="Manager" {% endif %}
        {% if employee.role == '1' %} value="Staff" {% endif %}
        {% if employee.role == '2' %} value="Admin"{% endif %}
        disabled/>
        <label for="role">Role</label>
      </div>
      <div class="form-floating">
        <input type="text" id="gedung" name="gedung" style="background-color:#e19c8d; color:white" class="form-control" placeholder=" "
          {% for gd in gedung %}
          {% if gd.id_gedung == employee.id_gedung.id_gedung %} value="{{ gd.nama }}" {% endif %}
          {% endfor %}
          disabled>
        <label for="gedung">Cabang</label>
      </div>
      <div class="form-floating">
        <input type="tel" class="form-control" id="nohp" name="nohp" placeholder=" " pattern="[0-9]{4}[0-9]{4}[0-9]{4}" value="{{ employee.nohp }}" />
          <label for="nohp">No Telp</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder=" " required value="{{ employee.email }}"/>
        <label for="email">Email</label>
      </div>
      
    </div>
    <button type="submit" class="btn" style="background: #987554; color: white; " >Update</button>
  </form>
</div>
{% endblock %}
