{% extends "base.html" %}
{% load static %}

{% block style %}
    <style>
        h2 {
            color: #787885;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="card m-4 p-4 shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="justify-content-center">
                <h1 class="text-center">Update Resep</h1>

                <br>
                <br>
                <form action="{% url 'resep:edit_resep' id_resep %}" method="POST">

                    {% csrf_token %}
                    <div class="d-flex flex-column justify-content-start align-items-center">
                        <h2 class="text-center">Nama<sup>*</sup></h2>
                        <input name="nama" type="text" class="rounded" value="{{ nama }}" required>


                        <h2 class="text-center mt-3">Bahan<sup>*</sup></h2>
                        <textarea name="bahan" class="rounded" cols="70" rows="10" required>{{ bahan }}</textarea>


                        <h2 class="text-center mt-3">Cara Memasak<sup>*</sup></h2>
                        <textarea name="cara_memasak" class="rounded" cols="70" rows="10" required>{{ cara_memasak }}</textarea>


                        <div class="d-flex justify-content-center align-items-center mt-3" style="gap: 10px">
                            <a class="btn btn-sm btn-outline-dark fw-bold fs-5" href="{% url 'resep:view_resep' id_resep %}" role="button">BATAL</a>
                            <button type="submit" class="btn btn-sm fw-bold fs-5" style="background: #BFA89B;">SIMPAN</button>
                        </div>
                    </div>




                </form>



            </div>
        </div>
    </div>
</div>
{% endblock %}
