{% extends "base.html" %}
{% load static%}

{% block body %}
    <div class="container">
        <div class="card m-4 p-4 shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="justify-content-center">
                    <h1 class="text-center">{{ nama }}</h1>

                    <br>
                    <br>
                    <h2 class="text-center mb-3">Bahan</h2>
                    <div class="d-flex justify-content-center">
                        <pre style="font-family: system-ui; line-height: 1.8">{{ bahan }}</pre>
                    </div>


                    <br>
                    <br>
                    <h2 class="text-center mb-3">Langkah</h2>
                    <div class="d-flex justify-content-center">
                        <pre style="font-family: system-ui; line-height: 1.8">{{ cara_memasak }}</pre>
                    </div>

                    <br>
                    <br>



                    <div class="d-flex justify-content-center" style="gap: 10px">
                        <a class="btn btn-outline-dark" href="{% url 'resep:viewall_resep' %}" role="button">Kembali</a>
                        <a class="btn btn-success" href="{% url 'resep:edit_resep' id_resep %}" role="button">Modifiy</a>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">
                          Hapus
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Penghapusan Resep</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Apakah Anda yakin ingin menghapus resep {{ nama }}?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Batal</button>
                                <a class="btn btn-danger" href="{% url 'resep:delete_resep' id_resep %}" role="button">Hapus</a>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
