{% extends 'base.html' %} {% load static %} 

{% block body %}
<div class="d-flex justify-content-between py-2">
  <h2>List User</h2>
  <a href="{% url 'create_employee' %}">
    <button class="btn btn-primary">Tambah User</button>
  </a>
</div>

{% for message in messages %} {% if message.tags == 'alert-success' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endif %} {% if message.tags == 'alert-error' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endif %} {% endfor %}

<table class="table">
  <thead>
    <tr>
      <th>Nama</th>
      <th>User Role</th>
      <th>Cabang</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
      <td>{{ employee.nama }}</td>
      {% if employee.role == '0' %}
      <td>Manager</td>
      {% elif employee.role == '1' %}
      <td>Staff</td>
      {% elif employee.role == '2' %}
      <td>Admin</td>
      {% endif %}
      <td>{{ employee.id_gedung }}</td>
      <td>
        <a href="{% url 'employee_detail' employee.id %}">Details</a>
        <a href="{% url 'employee_update' employee.id %}">Update</a>
        <button
          class="btn btn-outline-danger"
          data-bs-toggle="modal"
          data-bs-target="#deleteModal_{{employee.id}}"
        >
          Delete
        </button>
        <div
          class="modal fade"
          id="deleteModal_{{employee.id}}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Konfirmasi Hapus
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">Yakin hapus {{employee.nama}}?</div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Batal
                </button>
                <a href="{% url 'employee_delete' employee.id %}">
                  <button type="button" class="btn btn-danger">Hapus</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No employees found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  let table = new DataTable(".table", {
    // options
  });
</script>
{% endblock %}
