{% extends 'base.html' %} {% load static %} {% block body %}
<div class="d-flex justify-content-between py-2">
  <h2>List User</h2>
  <!-- <a href="{% url 'create_employee' %}">
    <button class="btn btn-primary">+ User</button>
  </a> -->
  <a href="#">
    <button class="btn" style="background: #987554; color: white" data-bs-toggle="modal" data-bs-target="#addModal"><i class="bi bi-plus-lg"></i> 
      User
    </button>
  </a>

  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="/employee/create/" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
              Tambah User
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex flex-column gap-4">
            <div class="d-flex flex-column gap-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="id_username"
                  name="username"
                  placeholder="Masukkan nama lengkap"
                  required
                />
                <label for="username">Username</label>
              </div>
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="id_nama"
                  name="nama"
                  placeholder=" "
                  required
                />
                <label for="nama">Nama</label>
              </div>
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="id_email"
                  name="email"
                  placeholder=" "
                  required
                />
                <label for="email">Email</label>
              </div>
              <div class="d-flex gap-3">
                <div class="form-floating w-100">
                  <select class="form-select" id="id_role" name="role" required>
                    <option value="0">
                      Manager
                    </option>
                    <option value="1">
                      Staff
                    </option>
                    <option value="2">
                      Admin
                    </option>
                  </select>
                  <label for="role">Role</label>
                </div>
                <div class="form-floating w-100">
                  <input
                    type="tel"
                    class="form-control"
                    id="id_nohp"
                    name="nohp"
                    placeholder=" "
                    pattern="[0-9]{4}[0-9]{4}[0-9]{4}"
                  />
                  <label for="phone">No HP</label>
                </div>
              </div>
              <div class="form-floating">
                <select class="form-select" id="id_id_gedung" name="id_gedung" required>
                  {% for gd in gedung %}
                    <option value="{{ gd.id_gedung }}">
                      {{ gd.nama }}
                    </option>
                  {% endfor %}
                </select>
                <label for="gedung">Gedung</label>
              </div>
              <div class="d-flex flex-column gap-3 pt-3">
                <div class="form-floating">
                  <input
                    type="password"
                    class="form-control"
                    id="id_password1"
                    name="password1"
                    placeholder=" "
                    required
                  />
                  <label for="password">Password</label>
                </div>
                <div class="form-floating">
                  <input
                    type="password"
                    class="form-control"
                    id="id_password2"
                    name="password2"
                    placeholder=" "
                    required
                  />
                  <label for="confirmPwd"
                    >Confirm Password</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Kembali
            </button>
            <button type="submit" class="btn" style="background: #987554; color: white">
              Simpan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% for message in messages %} {% if message.tags == 'alert-success' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% if message.tags == 'alert-danger' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %} 
{% endif %} {% endfor %}

<table class="table">
  <thead>
    <tr>
      <th>Nama</th>
      <th>User Role</th>
      <th>Cabang</th>
      <th class="d-flex justify-content-center text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
      <td>{{ employee.nama }}</td>
      {% if employee.role == '0' %}
      <td>Manager</td>
      {% elif employee.role == '1' %}
      <td>Staff</td>
      {% elif employee.role == '2' %}
      <td>Admin</td>
      {% endif %}
      <td>{{ employee.id_gedung }}</td>
      <td class="d-flex justify-content-center gap-1">
        <button class="btn btn-info" data-bs-toggle="modal"
        data-bs-target="#detailModal_{{employee.id}}">
        <i class="bi bi-info-circle"></i>
        </button>
        <div
          class="modal fade"
          id="detailModal_{{employee.id}}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  User {{ employee.nama }}
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <table>
                  <tbody>
                    <tr>
                      <td>Nama</td>
                      <td>{{ employee.nama }}</td>
                    </tr>
                    <tr>
                      <td>Username</td>
                      <td>{{ employee.user.username }}</td>
                    </tr>
                    <tr>
                      <td>Role</td>
                      {% if employee.role == '0' %}
                      <td>Manager</td>
                      {% elif employee.role == '1' %}
                      <td>Staff</td>
                      {% elif employee.role == '2' %}
                      <td>Admin</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <td>Gedung</td>
                      <td>{{ employee.id_gedung }}</td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td>{{ employee.email }}</td>
                    </tr>
                    <tr>
                      <td>No HP</td>
                      <td>{{ employee.nohp }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Kembali
                </button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-warning" data-bs-toggle="modal"
        data-bs-target="#updateModal_{{employee.id}}"><i class="bi bi-pencil"></i>
        </button>
        <div
          class="modal fade"
          id="updateModal_{{employee.id}}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <form action="/employee/update/{{ employee.id }}/" method="post">
                {% csrf_token %}
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Update User {{ employee.nama }}
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body d-flex flex-column gap-4">
                  <div class="d-flex flex-column gap-3">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        placeholder=" "
                        required
                        value="{{ employee.user.username }}"
                      />
                      <label for="username">Username</label>
                    </div>
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="nama"
                        name="nama"
                        placeholder=" "
                        required
                        value="{{ employee.nama }}"
                      />
                      <label for="nama">Nama</label>
                    </div>
                    <div class="form-floating">
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder=" "
                        required
                        value="{{ employee.email }}"
                      />
                      <label for="email">Email</label>
                    </div>
                    <div class="d-flex gap-3">
                      <div class="form-floating w-100">
                        <select class="form-select" id="role" name="role" required>
                          <option value="0" {% if employee.role == '0' %} selected {% endif %}>
                            Manager
                          </option>
                          <option value="1" {% if employee.role == '1' %} selected {% endif %}>
                            Staff
                          </option>
                          <option value="2" {% if employee.role == '2' %} selected {% endif %}>
                            Admin
                          </option>
                        </select>
                        <label for="role">Role</label>
                      </div>
                      <div class="form-floating w-100">
                        <input
                          type="tel"
                          class="form-control"
                          id="phone"
                          name="phone"
                          placeholder=" "
                          pattern="[0-9]{4}[0-9]{4}[0-9]{4}"
                          value="{{ employee.nohp }}"
                        />
                        <label for="phone">No HP</label>
                      </div>
                    </div>
                    <div class="form-floating">
                      <select class="form-select" id="gedung" name="gedung" required>
                        {% for gd in gedung %}
                          <option value="{{ gd.id_gedung }}" {% if gd.id_gedung == employee.id_gedung.id_gedung %} selected {% endif %}>
                            {{ gd.nama }}
                          </option>
                        {% endfor %}
                      </select>
                      <label for="gedung">Gedung</label>
                    </div>
                    <div class="d-flex flex-column gap-3 pt-3">
                      <div class="form-floating">
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          name="password"
                          placeholder="Keep blank to unchanged it"
                        />
                        <label for="password">Password (Keep blank to unchanged it)</label>
                      </div>
                      <div class="form-floating">
                        <input
                          type="password"
                          class="form-control"
                          id="confirmPwd"
                          name="confirmPwd"
                          placeholder="Keep blank to unchanged it"
                        />
                        <label for="confirmPwd"
                          >Confirm Password</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Kembali
                  </button>
                  <button
                    type="submit"
                    class="btn"
                    style="background: #987554;color: white"
                    data-bs-dismiss="modal"
                  >
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <button
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#deleteModal_{{employee.id}}"
        >
        <i class="bi bi-trash"></i>
        </button>
        <div
          class="modal fade"
          id="deleteModal_{{employee.id}}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Konfirmasi Hapus
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">Apakah Anda yakin ingin menghapus User {{employee.nama}}?</div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Batal
                </button>
                <a href="{% url 'employee_delete' employee.id %}">
                  <button type="button" class="btn btn-danger">Hapus</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No employees found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  let table = new DataTable(".table", {
    // options
  });
</script>
{% endblock %}
