{% extends 'base.html' %} {% load humanize %} 
{% load static %} 
{% load bootstrap5 %}
{% load bootstrap_icons %}

{% block body %}

<div class="d-flex flex-column gap-3">
  <h1 class="text-center">Laporan</h1>
  <div class="d-flex justify-content-around gap-2">
    <a href="/laporan/penjualan/" class="">
      <button type="button" class="btn btn-menu2"><i class="bi bi-file-bar-graph-fill"></i><span> PENJUALAN</span></button>
    </a>
    {% if request.user.employee.role == '0' and request.user.employee.id_gedung.status == '0' %}
    <a href="/laporan/pembelian/" class="">
      <button type="button" class="btn btn-menu2"><i class="bi bi-cart-check-fill"></i>
        PEMBELIAN
      </button>
    </a>
    {% endif%}
  </div>
</div>

{% endblock %}