{% extends 'base.html' %} {% load humanize %} 
{% load static %} 
{% load bootstrap5 %}
{% load bootstrap_icons %}

{% block body %}

<section class="section dashboard">
  <div class="row">
    <h1 class="text-center pb-4">{{ title }}</h1>

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        <div class="col-xxl-4 col-md-4">
          <div class="card info-card revenue-card">
            <div class="card-body">
              <h5 class="card-title">Total Expense</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  {% bs_icon 'cash' size='1.3em' %}
                </div>
                <div class="ps-3">
                  <h6>Rp{{ total|stringformat:"d"|intcomma }}</h6>
                  {% comment %} <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> {% endcomment %}

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xxl-4 col-md-4">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Top Item </h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  {% bs_icon 'cart' size='1.3em' %}
                </div>
                <div class="ps-3">
                  <h6>{{item}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xxl-4 col-md-4">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5 class="card-title">Top Supplier </h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  {% bs_icon 'shop-window' size='1.3em'%}
                </div>
                <div class="ps-3">
                  <h6>{{sup}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

      
        <!-- Reports -->
        <div class="col-12">

            <div class="card-body">
              <h5 class="card-title">Reports <span>/ Grafik</span></h5>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Pembelian per bulan {{tahun}}<span>/ latest update: {{last}}</span></h5>
                    <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: 'Total Biaya',
                          data: {{month}},
                        }, {
                          name: 'Items',
                          data: {{items}},
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 4
                        },
                        xaxis: {
                          type: 'MONTH',
                          categories: ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]
                        },
                        tooltip: {
                          x: {
                            format: 'dd/MM/yy HH:mm'
                          },
                        }
                      }).render();
                    });
                  </script>
                  <!-- End Line Chart -->
            </div>
          </div>
        </div>
        </div><!-- End Reports -->


      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">

      <!-- Recent Activity -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Inventory Summary </h5>
            <div class="d-flex align-items-center">
              <span>Quantity in hand — {{ totalStok }}</span>
            </div>
            <div class="d-flex align-items-center">
              <span>Quantity to be received — {{ quantityTBR }} </span>
            </div>
            
        </div>

   
      </div><!-- End Recent Activity -->

      <div class="card">
        <div class="card-body pb-0">
          <h5 class="card-title">Purchase Summary <span>| Pie Chart</span></h5>

          <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

          <script>
            document.addEventListener("DOMContentLoaded", () => {
              echarts.init(document.querySelector("#trafficChart")).setOption({
                tooltip: {
                  trigger: 'item'
                },
                legend: {
                  top: '5%',
                  left: 'center'
                },
                series: [{
                  name: 'Access From',
                  type: 'pie',
                  radius: ['40%', '70%'],
                  avoidLabelOverlap: false,
                  label: {
                    show: false,
                    position: 'center'
                  },
                  emphasis: {
                    label: {
                      show: true,
                      fontSize: '18',
                      fontWeight: 'bold'
                    }
                  },
                  labelLine: {
                    show: false
                  },
                  data: [{
                      value: {{ submit }},
                      name: 'Submitted orders'
                    },
                    {
                      value: {{ complete }},
                      name: 'Completed orders'
                    },
                    {
                      value: {{ process }},
                      name: 'Processed orders'
                    },
                    {% comment %} {
                      value: 0,
                      name: 'Data 4'
                    },
                    {
                      value: 0,
                      name: 'Data 5'
                    } {% endcomment %}
                  ]
                }]
              });
            });
          </script>

        </div>
      </div><!-- End Website Traffic -->

    </div>

    </div><!-- End Right side columns -->

  </div>
</section>
{% endblock %}
