{% extends 'base.html' %} {% load humanize %} 
{% load static %} 
{% load bootstrap5 %}
{% load bootstrap_icons %}

{% block body %}

<section class="section dashboard">
  <div class="row">
    <h1 class="text-center pb-4">{{ title }}</h1>

    <div class="pb-4 d-flex justify-content-end">
      <a href="#">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Import dari POS
        </button>
      </a>
    </div>

    <form
    action="/laporan/penjualan/"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Import dari POS
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="d-flex flex-column gap-2">
              <input type="file" name="pos_file" id="pos_file" required />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Import</button>
          </div>
        </div>
      </div>
    </div>
  </form>

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">
            <div class="card-body">
              <h5 class="card-title">Total Revenue <span>| Rupiah</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  {% bs_icon 'cash' size='1.3em' %}
                </div>
                <div class="ps-3">
                  <h6>{{ price|intcomma|default:"0" }}</h6>
                  {% comment %} <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> {% endcomment %}

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Top Item </h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  {% bs_icon 'cart' size='1.3em' %}
                </div>
                <div class="ps-3">
                  <h6>{{ product }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>        
      
        <!-- Reports -->
        <div class="col-12">

            <div class="card-body">
              <h5 class="card-title">Reports <span>/ Grafik</span></h5>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Penjualan per bulan</h5>
                    <div id="lineChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#lineChart"), {
                    series: [{
                      name: "Items",
                      data: {{month}}
                    }],
                    chart: {
                      height: 350,
                      type: 'line',
                      zoom: {
                        enabled: false
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'straight'
                    },
                    grid: {
                      row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                      },
                    },
                    xaxis: {
                      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    }
                  }).render();
                });
              </script>
            </div>
          </div>
        </div>
        </div><!-- End Reports -->


      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">

      <!-- Recent Activity -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Inventory Summary </h5>
            <div class="d-flex align-items-center">
              <span>Quantity Sold — {{ total }}</span>
            </div>
        </div>
      </div><!-- End Recent Activity -->

      <div class="card d-none">
        <div class="card-body pb-0">
          <h5 class="card-title">Sale Summary <span>| Pie Chart</span></h5>

          <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

          <script>
            document.addEventListener("DOMContentLoaded", () => {
              echarts.init(document.querySelector("#trafficChart")).setOption({
                tooltip: {
                  trigger: 'item'
                },
                legend: {
                  top: '5%',
                  left: 'center'
                },
                series: [{
                  name: 'Access From',
                  type: 'pie',
                  radius: ['40%', '70%'],
                  avoidLabelOverlap: false,
                  label: {
                    show: false,
                    position: 'center'
                  },
                  emphasis: {
                    label: {
                      show: true,
                      fontSize: '18',
                      fontWeight: 'bold'
                    }
                  },
                  labelLine: {
                    show: false
                  },
                  data: [{
                      value: {{ submit }},
                      name: 'Submitted orders'
                    },
                    {
                      value: {{ process }},
                      name: 'Processed orders'
                    },
                    {
                      value: {{ complete }},
                      name: 'Completed orders'
                    },
                  ]
                }]
              });
            });
          </script>

        </div>
      </div><!-- End Website Traffic -->

    </div>

    </div><!-- End Right side columns -->

  </div>
</section>
{% endblock %}
