{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="cont">
    <h5 style="text-align: center;">Data Supplier</h5>
    <hr style="height: 2px">
    <form action="" method="POST">
        {% csrf_token %}
        <input class="form-control" type="text" name="nama" required>
        <input class="form-control" type="text" name="alamat" required>
        <input class="form-control" type="text" name="pic" required>
        <input class="form-control" type="text" name="nohp" required>

        <button class="btn btn-success" type="submit">Submit</button>
        <a class="btn btn-primary" href="/supplier/list_supplier">Kembali</a>
    </form>
</div>
{% endblock body %}