{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col-md-9 mx-auto">
        <h5>DATA SUPPLIER {{supplier.nama}}</h5>
        <hr style="background-color: #cc526a; height: 2px">
        <a class="btn btn-warning" href="/supplier/update_supplier/{{supplier.id_supplier}}">Update</a>
        <a class="btn btn-danger" href="/supplier/delete_supplier/{{supplier.id_supplier}}">Delete</a>
        <div class="card card-body" style="background-color: #d69ca8">
            <div>
                <p>Nama: {{supplier.nama}}</p>
                <p>Alamat: {{supplier.alamat}}</p>
                <p>PIC: {{supplier.pic}}</p>
                <p>No Handphone: {{supplier.nohp}}</p>
            </div>
        </div>
        <a class="btn btn-primary" href="/supplier/list_supplier">Kembali</a>
    </div>
</div>
{% endblock body %}
