{% extends "base.html" %}
{% load static%}
{% block style %}

{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
        {% include "messages.html" %}
        <div class="card m-4 p-4 shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="text-center">Daftar Request</h1>
                    <a class="btn" style="background: #987554; color: white" href="{% url 'request:list' %}" role="button">Buat Request</a>
                </div>
                <br>
                <br>
                <table class="table">

                  <thead>
                    <tr>
                      <th class="text-center" scope="col">#</th>
                      <th class="text-center" scope="col">Token</th>
                      <th class="text-center" scope="col">Dikirim</th>
                      <th class="text-center" scope="col">Diterima</th>
                      <th class="text-center" scope="col">PIC Request</th>

                      {% if is_restoran == False %}
                        <th class="text-center" scope="col">Supplier</th>
                      {% endif %}

                      <th class="text-center" scope="col">Status</th>
                      <th class="text-center" scope="col">Detail</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for request in requests %}
                        <tr>
                          <th class="text-center" scope="row">{{ forloop.counter }}</th>
                          <td class="text-center" >{{ request.token }}</td>
                          <td class="text-center" >{{ request.created }}</td>

                          {% if request.received == None %}
                              <td class="text-center" >-</td>
                          {% else %}
                              <td class="text-center" >{{ request.received }}</td>
                          {% endif %}

                          <td class="text-center" >{{ request.pic.nama }}</td>

                          {% if is_restoran == False %}
                            <td class="text-center" >{{ request.id_supplier.pic }}</td>
                          {% endif %}

                          <td class="text-center" >
                              {{ request.get_status_display }}
                          </td>

                          <td class="d-flex justify-content-center gap-5">
                              <div class="btn" data-bs-toggle="modal" data-bs-target="#detail{{request.id_request}}" style="color: inherit; text-decoration: none">
                                <img src="{% static 'logo/detail.png'  %}" alt="" width="18" height="18">
                              </div>
                          </td>
                        </tr>


{#                        Modal detail request#}
                        <div class="modal fade" id="detail{{request.id_request}}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Detail Request</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p>PIC: {{request.pic.nama}}</p>
                                            {% if is_restoran == False %}
                                                <p>Supplier : {{ request.id_supplier.nama }}</p>
                                                <p>Supplier : {{ request.id_supplier.pic }}</p>
                                            {% endif %}
                                            <p>Dibuat : {{ request.created }}</p>
                                            {% if request.received == None %}
                                            <p>Diterima: -</p>
                                            {% else %}
                                            <p>Diterima: {{ request.received }}</p>
                                            {% endif %}

                                            <p>Status : {{ request.get_status_display }}</p>
                                            <p>Detail</p>
                                            <ol>
                                                {% for inventory in request.get_lines %}
                                                    <li>{{ inventory.id_inventory_default.nama }} @Rp{{ inventory.harga }} x {{ inventory.qty }} {{ inventory.id_inventory_default.satuan }}</li>
                                                {% endfor %}
                                            </ol>
                                            <p>Total Harga: {{ request.total_price }}</p>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Kembali</button>

                                            {% if request.get_status_display == 'WAITING FOR APPROVAL' %}
                                                <a
                                                type="button"
                                                href="#"
                                                class="btn btn-success"
                                                data-bs-toggle="modal"
                                                data-bs-target="#confirm{{request.id_request}}"
                                                >
                                                    Konfirmasi
                                                </a>
                                            {% endif %}

                                            {% if request.get_status_display == 'PROCESSING' %}
                                                <a
                                                type="button"
                                                href="#"
                                                class="btn btn-success"
                                                data-bs-toggle="modal"
                                                data-bs-target="#receive{{request.id_request}}"
                                                >
                                                    Terima
                                                </a>
                                            {% endif %}


                                        </div>
                                    </div>
                                </div>
                            </div>
{#                            Dibawah ini kirim pesan whatsapp ke supplier pas udah dikonfirmasi#}
                            {% if request.get_status_display == "WAITING FOR APPROVAL" %}

                            <div class="modal fade" id="confirm{{request.id_request}}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Pengiriman Request</h5>
                                        </div>
                                        <div class="modal-body">
                                            Apakah Anda yakin ingin mengirim request ini?
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-outline-dark"
{#                                                data-bs-dismiss="modal"#}
                                                data-bs-toggle="modal"
                                                data-bs-target="#detail{{request.id_request}}"
                                            >
                                                Kembali
                                            </button>
                                            <a class="btn btn-primary" href="{% url 'request:confirm' request.id_request %}" role="button">Kirim</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
{#                            Modal konfirmasi penerimaan#}
                            {% if request.get_status_display == 'PROCESSING' %}
                            <div class="modal fade" id="receive{{request.id_request}}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Penerimaan Request</h5>
                                        </div>
                                        <div class="modal-body">
                                            Apakah Anda yakin telah menerima request ini?
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-outline-dark"
{#                                                data-bs-dismiss="modal"#}
                                                data-bs-toggle="modal"
                                                data-bs-target="#detail{{request.id_request}}"
                                            >
                                                Kembali
                                            </button>
                                            <a class="btn btn-success" href="{% url 'request:receive' request.id_request %}" role="button">Terima</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}



                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
      let table = new DataTable(".table", {
          // options
      });
    </script>
{% endblock %}
