{% extends 'base.html' %} {% load static %} 

{% block body %}

{% for message in messages %}
  {% if message.tags == 'alert-success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %} {% if message.tags == 'alert-error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %} 
{% endfor %}

<div class="p-2 d-flex flex-column align-items-center">
  <h1 class="py-4">Tambah Inventory</h1>
  <form class="d-flex flex-column gap-4 w-50" action="{% url 'inventori:create_inventory' %}" method="POST">
    {% csrf_token %}
    <div class="d-flex flex-column gap-3">
      <div class="form-floating">
        <input type="text" class="form-control" id="nama" name="nama" placeholder=" " required/>
        <label for="nama">Nama</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control" id="stok" name="stok" placeholder=" " required/>
        <label for="stok">Stok</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control" id="threshold" name="threshold" placeholder=" " />
          <label for="threshold">Threshold</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control" id="default_request_qty" name="default_request_qty" placeholder=" " required/> 
        <label for="default_request_qty">Default Request Qty</label>
      </div>
      <div class="form-floating">
        <input type="number" step="any"class="form-control" id="harga" name="harga" placeholder=" " required/>
        <label for="harga">Harga</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="satuan" name="satuan" placeholder=" " required/>
        <label for="satuan">Satuan</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="id_gedung" name="id_gedung" placeholder=" " value="gedung"required hidden/>
        <label for="id_gedung"></label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Tambah</button>
  </form>
</div>
{% endblock %}
