{% extends 'base.html' %} 
{% load static %}

{% block body %}
<div class="container">
    {% include "messages.html" %}
    <div class="card">
        <div class="card-body">
            <div class="justify-content-center">
                <div class="d-flex justify-content-between py-2">
                    <h4>List Supplier</h4>
                </div>

                <!--Table for Datatables-->
                <table class="table">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Total</th>
                        <th>Price</th>
                        <th>Notes</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for riwayat in riwayat_penjualan %}
                      <tr>
                        <td>{{ riwayat.product }}</td>
                        <td>{{ riwayat.total }}</td>
                        <td>{{ riwayat.price }}</td>
                        <td>{{ riwayat.notes }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>   
</div>

<script>
  let table = new DataTable(".table", {
    // options
  });
</script>
{% endblock %}
